<?xml version="1.0" encoding="utf-8"  ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


	<xacro:macro name="leg_simple" params="hip_x_offset
											hip_y_offset
											hip_z_offset
											thigh_width 
											thigh_height
											thigh_mass
											thigh_color
											knee_y_offset
											shin_width
											shin_height
											shin_mass
											shin_color
											hip_friction
											knee_friction
											parent_link
											leg_name">

			<link name="prethigh_link_${leg_name}">
				<xacro:small_inertial/>
			</link>
			<link name="thigh_link_${leg_name}">
				<visual name = "thigh_link_v_${leg_name}">
					<origin xyz="0 0 -${thigh_height/2}" rpy="0 0 0"/>
					<geometry>
						<cylinder length="${thigh_height}" radius="${thigh_width/2}" />
					</geometry>
				</visual>
				<collision name = "thigh_link_c_${leg_name}">
					<origin xyz="0 0 -${thigh_height/2}" rpy="0 0 0"/>
					<geometry>
						<cylinder length="${thigh_height}" radius="${thigh_width/2}" />
					</geometry>
				</collision>
				<xacro:small_inertial />
			</link>
			<link name="thigh_link_com_${leg_name}">
				<xacro:cylinder_z_inertial mass="${thigh_mass}" height="${thigh_height}" radius="${thigh_width/2}" 
											pose_xyz="0 0 0" pose_rpy="0 0 0"/>
			</link>

			<gazebo reference="thigh_link_${leg_name}">
				<visual name="thigh_link_v_${leg_name}">
					<material>
						<ambient>$(arg thigh_color)</ambient>
						<diffuse>$(arg thigh_color)</diffuse>
					</material>
				</visual>
				<contact>
					<lateral_friction value="0.1"/>
					<rolling_friction value="0.01"/>
					<restitution value="0.05"/>
				</contact>
			</gazebo>




			<link name="shin_link_${leg_name}">
				<!-- shin_height is the knee to foot tip distance, so the actual shin lenght is determined accordingly-->
				<visual name = "shin_link_v_${leg_name}">
					<origin xyz="0 0 -${(shin_height-shin_width)/2}" rpy="0 0 0"/>
					<geometry>
						<cylinder length="${shin_height-shin_width}" radius="${shin_width/2}" />
					</geometry>
				</visual>
				<collision name = "shin_link_c_${leg_name}">
					<origin xyz="0 0 -${(shin_height-shin_width)/2}" rpy="0 0 0"/>
					<geometry>
						<cylinder length="${shin_height-shin_width}" radius="${shin_width/2}" />
					</geometry>
				</collision>
				<xacro:small_inertial />

			</link>
			<link name="shin_link_com_${leg_name}">
				<xacro:cylinder_z_inertial mass="${shin_mass}" height="${shin_height}" radius="${shin_width/2}"
											pose_xyz="0 0 -${shin_height/2}" pose_rpy="0 0 0"/>
			</link>
			<gazebo reference="shin_link_${leg_name}">
				<visual name="shin_link_v_${leg_name}">
					<material>
						<ambient>$(arg shin_color)</ambient>
						<diffuse>$(arg shin_color)</diffuse>
					</material>
				</visual>
				<contact>
					<lateral_friction value="0.01"/>
					<rolling_friction value="0.01"/>
					<restitution value="0.05"/>
				</contact>
			</gazebo>



			<link name="foot_center_link_${leg_name}">
				<visual>
					<origin xyz="0 0 0" rpy="0 0 0"/>
					<geometry>
						<sphere radius="${shin_width}" />
					</geometry>
				</visual>
				<collision>
					<origin xyz="0 0 0" rpy="0 0 0"/>
					<geometry>
						<sphere radius="${shin_width}" />
					</geometry>
				</collision>
				<xacro:small_inertial />
				<contact>
					<!-- 
					Pybullet defaults maybe are these (from bullet3/examples/Importers/ImportURDFDemo/URDFJointTypes.h line 33)
					URDFLinkContactInfo()
						: m_lateralFriction(0.5),
						m_rollingFriction(0),
						m_spinningFriction(0),
						m_restitution(0),
						m_inertiaScaling(1),
						m_contactCfm(0),
						m_contactErp(0),
						m_contactStiffness(1e4),
						m_contactDamping(1)
					-->
					<lateral_friction value="0.9"/>
					<rolling_friction value="0.01"/>
					<!-- <contact_cfm value="0.1 "/> -->
					<!-- <contact_erp value="0.2"/> -->
					<restitution value="0.05"/>
					<!-- <spinning_friction value="0"/> -->
					<!-- <friction_anchor value="0"/> -->
					<!-- <inertia_scaling value="0"/> -->
					<!-- <stiffness value="2500"/>
					<damping value="8"/>  -->
				</contact>
			</link>


			<link name="foot_link_${leg_name}">
				<xacro:small_inertial />
			</link>

			
			<joint name="hip_joint1_${leg_name}" type="revolute">
				<parent link="${parent_link}"/>
				<child link="prethigh_link_${leg_name}"/>
				<origin xyz="${hip_x_offset} ${hip_y_offset} ${hip_z_offset}" rpy="0 0 0"/>
				<dynamics damping="0.0" friction="${hip_friction}"/>
				<limit lower="-2.4" upper="2.4" effort="112" velocity="20"/>
				<axis xyz="0 1 0"/>
			</joint>
			<joint name="hip_joint2_${leg_name}" type="revolute">
				<parent link="prethigh_link_${leg_name}"/>
				<child link="thigh_link_${leg_name}"/>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<dynamics damping="0.0" friction="${hip_friction}"/>
				<limit lower="-2.4" upper="2.4" effort="112" velocity="20"/>
				<axis xyz="1 0 0"/>
			</joint>
			<joint name="thigh_link_com_${leg_name}" type="fixed">
				<parent link="thigh_link_${leg_name}"/>
				<child link="thigh_link_com_${leg_name}"/>
				<origin xyz="0 0 -${thigh_height/2}" rpy="0 0 0"/>
			</joint>

			<joint name="knee_joint_${leg_name}" type="revolute">
				<parent link="thigh_link_${leg_name}"/>
				<child link="shin_link_${leg_name}"/>
				<origin xyz="0 ${knee_y_offset} -${thigh_height}" rpy="0 0 0"/>
				<dynamics damping="0.0" friction="${knee_friction}"/>
				<limit lower="-2.4" upper="2.4" effort="112" velocity="20"/>
				<axis xyz="0 -1 0"/>
			</joint>
			<joint name="shin_link_com_${leg_name}" type="fixed">
				<parent link="shin_link_${leg_name}"/>
				<child link="shin_link_com_${leg_name}"/>
				<origin xyz="0 0 -${shin_height/2}" rpy="0 0 0"/>
			</joint>

			<joint name="foot_center_joint_${leg_name}" type="fixed">
				<parent link="shin_link_${leg_name}"/>
				<child link="foot_center_link_${leg_name}"/>
				<origin xyz="0 0 -${shin_height-shin_width}" rpy="0 0 0"/>
			</joint>

			<joint name="foot_joint_${leg_name}" type="fixed">
				<parent link="shin_link_${leg_name}"/>
				<child link="foot_link_${leg_name}"/>
				<origin xyz="0 0 -${shin_height}" rpy="0 0 0"/>
			</joint>
    </xacro:macro>





</robot>
