<?xml version="1.0" encoding="utf-8"  ?>
<robot name="red_intangible_ball" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:arg name="radius" default="0.05" />

	<xacro:property name="radius" default="$(arg radius)" />
	<xacro:property name="color_rgba" default="0.9 0.1 0.1 0.8" />


	<material name="red">
		<color rgba="${color_rgba}"/>
	</material>

	<xacro:macro name="box_inertial" params="mass x y z pose_xyz pose_rpy">
		<inertial>
			<origin xyz="${pose_xyz}" rpy="${pose_rpy}"/>
			<mass value="${mass}" />
			<inertia ixx="${0.083 * mass * (y*y + z*z)}" ixy="0.0" ixz="0.0" iyy="${0.083 * mass * (x*x + z*z)}" iyz="0.0" izz="${0.083 * mass * (x*x + y*y)}"/>
		</inertial>
	</xacro:macro>

	<link name="sphere_link">
		<!-- The shin is made of a cylinder plus a sphere, the total length, is shin_height, so the length  of the two are detemrined accordingly -->
        <visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <sphere radius="${radius}" />
            </geometry>
			<material name="red"/>
        </visual>
		<xacro:box_inertial mass="0.001" x="${2*radius}" y="${2*radius}" z="${2*radius}" pose_xyz="0 0 0" pose_rpy="0 0 0"/>
	</link>
	<gazebo reference="sphere_link">
		<visual name="visual">
			<material>
			<ambient>"${color_rgba}"</ambient>
			<diffuse>"${color_rgba}"</diffuse>
			<!--
			<specular>1 0 0 1</specular>
			<emissive>1 0 0 1</emissive>
			-->
			</material>
      	</visual>
    </gazebo>

</robot>
