<?xml version="1.0" encoding="utf-8"  ?>
<robot name="red_intangible_ball" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:arg name="size_x" default="0.20" />
	<xacro:arg name="size_y" default="0.50" />
	<xacro:arg name="size_z" default="0.005" />

	<xacro:property name="size_x" default="$(arg size_x)" />
	<xacro:property name="size_y" default="$(arg size_y)" />
	<xacro:property name="size_z" default="$(arg size_z)" />
	<xacro:property name="color_rgba" default="0.3 0.3 0.3 1.0" />


	<material name="support_color">
		<color rgba="${color_rgba}"/>
	</material>

	<xacro:macro name="box_inertial" params="mass x y z pose_xyz pose_rpy">
		<inertial>
			<origin xyz="${pose_xyz}" rpy="${pose_rpy}"/>
			<mass value="${mass}" />
			<inertia ixx="${0.083 * mass * (y*y + z*z)}" ixy="0.0" ixz="0.0" iyy="${0.083 * mass * (x*x + z*z)}" iyz="0.0" izz="${0.083 * mass * (x*x + y*y)}"/>
		</inertial>
	</xacro:macro>

    <!-- <link name="world"/> -->




	<link name="plate">
		<!-- The shin is made of a cylinder plus a sphere, the total length, is shin_height, so the length  of the two are detemrined accordingly -->
        <visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="${size_x} ${size_y} ${size_z}" />
            </geometry>
			<material name="support_color"/>
        </visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="${size_x} ${size_y} ${size_z}" />
            </geometry>
        </collision>
		<xacro:box_inertial mass="0.001" x="${size_x}" y="${size_y}" z="${size_z}" pose_xyz="0 0 0" pose_rpy="0 0 0"/>


		<contact>
				<!-- 
				Pybullet defaults maybe are these (from bullet3/examples/Importers/ImportURDFDemo/URDFJointTypes.h line 33)
				URDFLinkContactInfo()
					: m_lateralFriction(0.5),
					m_rollingFriction(0),
					m_spinningFriction(0),
					m_restitution(0),
					m_inertiaScaling(1),
					m_contactCfm(0),
					m_contactErp(0),
					m_contactStiffness(1e4),
					m_contactDamping(1)
				-->
				<lateral_friction value="0.9"/>
				<rolling_friction value="0.01"/>
				<!-- <contact_cfm value="0.1 "/> -->
				<!-- <contact_erp value="0.2"/> -->
				<restitution value="0.05"/>
				<!-- <spinning_friction value="0"/> -->
				<!-- <friction_anchor value="0"/> -->
				<!-- <inertia_scaling value="0"/> -->
				<!-- <stiffness value="2500"/> -->
				<!-- <damping value="8"/>  -->
			</contact>
	</link>
	<gazebo reference="plate">
		<visual name="visual">
			<material>
			<ambient>"${color_rgba}"</ambient>
			<diffuse>"${color_rgba}"</diffuse>
			<!--
			<specular>1 0 0 1</specular>
			<emissive>1 0 0 1</emissive>
			-->
			</material>
      	</visual>
    </gazebo>


</robot>
